@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&family=Outfit:wght@300;400;600&display=swap');
* {
  margin: 0;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
}

body {
  margin: 40px;
  /* font-family: 'Outfit', sans-serif; */
  background-color: #131417;
  color: white;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.card-body {
  margin-top: .7rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-weight: 900;
  font-size: 17px;
  margin: 0 0 .25rem;
  display: block;
  transition: all .2s ease;
  text-align: right;
}

.card-text {
  color: #b7bbc8;
  font-size: 14px;
  line-height: 1.2;
  transition: all .2s ease;
  text-align: right;
  display: block;
}

.card-background {
  --radius: 10px;
  --inset: 2rem;
  --inset-right: 0;
  --offset: -1rem;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: var(--offset);
  border-radius: var(--radius);
  overflow: hidden;
  z-index: -1;
  background: #1e1f26;
  clip-path: inset(var(--inset-top,var(--inset)) var(--inset-right,var(--inset)) var(--inset-bottom,var(--inset)) var(--inset-left,var(--inset)) round var(--radius));
  transition: clip-path .3s ease .1s;
}

.card:hover .card-background {
  clip-path: inset(0 0 0 0 round var(--radius));
  transition-delay: 0s;
}

.btn {
  font-size: .8rem;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  border: 0;
  padding: 6px 8px;
  text-align: center;
  transition: background-color 200ms;
  font-weight: 400 !important;

  transform: translateY(-50%);
  opacity: 0;
  transition: all .2s ease;
  transition-property: all;
  transition-timing-function: ease;
  transition-property: transform,opacity;
  transition-timing-function: cubic-bezier(1,0,.65,.75),linear;
}

.btn:nth-child(2) {
  transition-delay: .05s !important;
}

.btn:hover {
  background: #5a5f73;
}

.card:hover .btn {
  transform: translateY(0);
  opacity: 1;
  transition-timing-function: cubic-bezier(.2,.15,.1,1),ease;
  transition-delay: .2s;
}
