// image ratio: 2 * 3
$image_height: 214px;
$image_width: 142px;
$image_hover_width: 304px;
$image_hover_height: 450px;

* {
  transition: all 400ms ease 0ms;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  display: flex;
  width: $image_width;
  height: fit-content;
  flex-direction: column;

  &__image-portrait {
    height: $image_height;
    overflow: hidden;
    width: 100%;
    opacity: 1;
  }

  &__title {
    font: 14px/20px arial,sans-serif;
    letter-spacing: .2px;
    color: black;
  }

  &__imageContainer {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    height: $image_height;
    background-size: cover;
  }

  &__imageOverlay {
    width: 92%;
    height: 90%;
    background: rgba(0, 0, 0, 0) radial-gradient(at center top, rgba(32, 33, 36, 0.2), rgba(32, 33, 36, 0.8), transparent 412.931px) repeat scroll 0% 0%;
    padding: 12px;
    font-family: arial,sans-serif;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.card:hover {
  width: $image_hover_width;

  .card__image-portrait {
    opacity: 0;
    height: $image_hover_height;
  }

  .card__imageOverlay {
    display: block;
  }
}


.movie {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__name {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    max-height: 40px;
    text-shadow: 0 1px 2px #3c4043,0 1px 3px #3c4043;
    white-space: normal;
    width: 230px;
  }

  &__info {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-top: 7px;
    min-height: 16px;
    text-shadow: 0 1px 2px #3c4043,0 1px 3px #3c4043;

    &Separator {
      margin: 0 4px;
    }
  }

  &__rating {
    border: solid #fff 1px;
    box-sizing: border-box;
    font-size: 12px;
    margin-right: 8px;
    padding: 0 3px;
  }

}
