@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // font-family: 'Barlow', sans-serif;
  // font-family: 'Fraunces', serif;
}


$Soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%);
$Dark-blue: hsl(198, 62%, 26%);
$Dark-moderate-cyan: hsl(168, 34%, 41%);
$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

a { text-decoration: none; }
li { list-style: none; }
.d-none { display: none;}
.p-relative { position: relative; }
body {
  font-family: 'Fraunces', serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  padding: 1.5rem;
  color: white;
  position: absolute;
  width: 100%;
  z-index: 1;

  & > img { width: 10rem; }
  nav > ul {
    display: flex;
    a { 
      color: white; 
      padding: 0.6rem 1rem;
      font-family: 'Barlow', sans-serif;
      border-radius: 100px;
      transition: all .5s;
    }
    a:hover {
      color: black;
      background-color: white;
    }
  }
}

.hero {
  width: 100%;
  position: relative;
  margin-bottom: -4px;

  .hero__image {
    object-fit: contain;
    width: 100%;
  }

  div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    transform: translateY(-20px);
  }

  h2 {
    font-size: 0.9em;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    text-align: center;
  }
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-only {
    padding: 9rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    h3 {
      font-size: 3rem;
      color: $Very-dark-desaturated-blue;
    }
    p {
      font-size: 1.4rem;
      color: $Grayish-blue;
      font-family: 'Barlow', sans-serif;
      margin: 2rem 0;
    }
    a { color: $Very-dark-desaturated-blue; }

    a:hover ~ .a-underline { opacity: 1;}

    .a-underline {
      content: "";
      width: 126px;
      height: 10px;
      border-radius: 50px;
      opacity: 0.3;
      z-index: -1;
      transition: opacity .5s;
      margin-left: -6px;
      margin-top: -10px;
    }
    .a-underline.soft-red { background-color: $Soft-red; }
    .a-underline.yellow { background-color: $Yellow; }
  }


  .text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    padding: 5rem 5rem;
    transform: translateY(2rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h3 {
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      font-family: 'Barlow', sans-serif;
      line-height: 1.6rem;
    }
  }
  .dark-blue { color: $Dark-blue; }
  .dark-cyan { color: $Dark-desaturated-cyan; }
}


.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
  margin: 7rem;

  h3 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    color: $Grayish-blue;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }

  .testimony {
    text-align: center;
    position: relative;

    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      border-radius: 50%;
    }
    p {
      font-family: 'Barlow', sans-serif;
      font-size: 1.2rem;
      color: $Dark-grayish-blue;
      margin-top: 3em;
      margin-bottom: 5em;
    }

    div {
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    h4 {
      color: $Very-dark-desaturated-blue;
      font-size: 1.2em;
      margin-bottom: .5em;
    }
    small {
      font-family: 'Barlow', sans-serif;
      color: $Grayish-blue;
      font-size: .8rem;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 4rem;
  background-color: #90d4c5;

  img.logo {
    width: 10em;
  }

  svg > path {
    fill: #2a7264;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &.nav-links {
      width: 24em;
      margin-top: 2em;
      margin-bottom: 5em;

      a { 
        color: $Dark-moderate-cyan; 
        font-family: 'Barlow', sans-serif;
        transition: color 500ms;

        &:hover { color: white; }
      }
    }
    &.contact {
      width: 14em;
    }
  }
}


@media screen and (max-width: 836px) {
  .hero {
    .hero__image {
      object-fit: cover;
      height: 600px;
    }
  }

  .container{
    grid-template-columns: 1fr;

    .text-only{
      padding: 4rem 1rem;
      text-align: center;
      align-items: center;

      p { margin: 2em 0; }
      .a-underline{ margin-left: 0; }
    }
  }
  
  .testimonials {
    grid-template-columns: 1fr;
    gap: 3.8rem;
    margin: 2rem 1rem;
    
    h3{ 
      grid-column-start: unset;
      grid-column-end: unset;
    }
    .testimony { margin-top: 2em; }
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .hamburger-btn {
    display: block;
    background: none;
    border: none;
    transition: opacity 300ms;
    cursor: pointer;
    &:hover { opacity: .5; }
  }

  header > nav {
    position: absolute;
    top: 95px;
    right: 5%;
    width: 90%;
    display: none;


    ul {
      flex-direction: column;
      background: white;
      padding: 2rem;
      position: relative;

      li {
        padding: .5rem;
        text-align: center;
        font-size: 1.2rem;
      }
      a {
        color: $Grayish-blue;
        &:hover { background-color: $Yellow; }
      }


      &::before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 42px solid white;
        border-left: 36px solid transparent;
        position: absolute;
        top: -40px;
        right: 0;
      }
    }
  
  }

  .display-menu {
    display: block;
    animation: fade-down .5s cubic-bezier(0.65, 0.05, 0.36, 1) ;
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
